.about {
  padding-bottom: 86px;
  text-align: center;
}

.about__img-wrap {
  position: relative;
  margin: 0 auto;
  width: 260px;
  height: 260px;

  &::before {
    @include element-style(123%, 100%, transparent);
    left: 50%;
    top: 30px;
    border: $light-border;
    transform: translate(-50%, 0);
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
  }
}

@media(min-width: 990px) {
  .about {
    padding-bottom: 192px;
  }

  .about__img-wrap {
    width: 400px;
    height: 400px;

    &::before {
      top: 50px;
    }
  }
}
