.booking__content {
  display: flex;
  margin: 0 auto;
  width: 100%;
}

.booking__img-wrap {
  display: none;
}

.booking__form {
  padding: 60px 36px;
  width: 100%;
  color: $dark-text;
  background-image: url("../img/form-background.png");
  background-repeat: no-repeat;
  background-color: $light-theme-color;
}

.booking__form-title {
  margin-bottom: 27px;
  font-size: 20px;
  font-weight: 700;
}

.booking__input-wrap {
  margin-bottom: 32px;
  width: 100%;

  input {
    padding-bottom: 8px;
    width: 100%;
    height: 32px;
    font-size: 20px;
    font-weight: 600;
    color: $dark-text;
    border: $dark-border;
    border-left: none;
    border-top: none;
    background-color: transparent;

    &:focus {
      border-left: none;
      border-top: none;
      outline: none;
    }
  }

  input[type="checkbox"] {
    display: none;
  }
}

label[for="consent"],
label[for="consentModal"]{
  display: inline-block;
  position: relative;
  padding-left: 28px;
  font-size: 12px;
  font-weight: 600;
  color: #373737;
  text-transform: uppercase;

  .checkbox {
    position: absolute;
    display: block;
    width: 21px;
    height: 21px;
    left: 0;
    top: 50%;
    background-color: transparent;
    border: $dark-border;
    transform: translate(0, -50%);
  }
}

input[type="checkbox"]:checked + label .checkbox::after {
  @include element-style(9px, 16px, transparent);
  bottom: 3px;
  left: 4px;
  border: 3px solid $dark-theme-color;
  border-left: none;
  border-top: none;
  border-radius: 2px;
  transform: rotate(45deg) skew(9deg, 7deg);
}

.booking__submit-btn {
  width: 100%;

  &::before {
    @include element-style(2px, 50%, black);
    left: 0;
    bottom: 0;
  }
}

input::placeholder {
  color: #6F6D6D;
  font-weight: 600;
  font-size: 16px;
}

@media (min-width: 990px) {

  .booking__content {
    display: flex;
    margin: 0 auto;
    width: 1230px;
  }

  .booking__img-wrap {
    display: block;
    width: 615px;
    height: 657px;
    background-image: url("../img/booking.jpg");
    background-repeat: no-repeat;
    background-position: top -120px left;
    background-size: 615px auto;
  }

  .booking__form {
    padding: 107px 97px 0 60px;
    width: 615px;
    height: 657px;
    background-image: url("../img/form-background.png");
  }

  .booking__form-title {
    margin-bottom: 67px;
    font-size: 24px;
    font-weight: 700;
  }

  .booking__input-wrap {
    margin-bottom: 52px;
    width: 100%;

    input {
      padding-bottom: 11px;
      width: 100%;
      height: 32px;
      font-size: 20px;
      font-weight: 600;
    }
  }

  label[for="consent"] {
    padding-left: 36px;
    font-size: 14px;
    font-weight: 700;
  }

  input[type="checkbox"]:checked+label::after {
    @include element-style(9px, 16px, transparent);
    bottom: 3px;
    left: 6px;
  }

  input::placeholder {
    font-weight: 600;
    font-size: 20px;
  }

}
