.container {
  margin: 0 auto;
  padding: 0 16px;
  min-width: 320px;
  width: 100vw;
  background-image: url("../img/body-bg-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top center;
  background-color: $dark-theme-color;
  overflow: hidden;
}

@media (min-width: 990px) {
  .container {
    padding: 0 70px;
    max-width: 1440px;
    background-image: url("../img/body-bg.jpg");
  }
}
