.main-header.container {
  background-image: none;

  .main-header__top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
    min-height: 88px;
  }

  .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &.main-header--index {
    position: relative;
    background-image:
            url("../img/main-screen-bw.png"),
            url("../img/body-bg-mobile.jpg");
    background-repeat: no-repeat,
    no-repeat;
    background-size: 400px 400px,
    100% 100%;
    background-position: top -50px right -50px,
    top center;

    &::after {
      @include element-style(100%, 16px, $dark-theme-color);
      bottom: 0;
      right: 0;
    }

    .main-header__top {
      justify-content: flex-start;
      padding-bottom: 0;
    }

    .logo {
      position: static;
      top: unset;
      left: unset;
      transform: none;
      margin-right: 20px;
    }

    .main-nav {
      margin-right: 30px;
    }
  }
}

.main-header__btn {
  height: 40px;
  font-size: 12px;
}

@media (min-width: 990px) {
  .main-header.container {

    &.main-header--index {
      background-image: url("../img/main-screen-bw.png"),
      url("../img/body-bg.jpg");
      background-repeat: no-repeat,
      no-repeat;
      background-size: 880px 880px,
      100% 100%;
      background-position: top -140px right 0,
      top center;

      &::after {
        @include element-style(100%, 30px, $dark-theme-color);
        bottom: 0;
        right: 0;
      }

      .logo {
        margin-right: 73px;
      }
    }
  }

  .main-header__top {
    padding-top: 42px;
  }

  .main-header__btn {
    height: 60px;
    font-size: 20px;
  }
}
