$light-theme-color: #fafafa;
$dark-theme-color: #080808;

$dark-text: $dark-theme-color;
$light-text: $light-theme-color;

$light-border: 2px solid $light-theme-color;
$dark-border: 2px solid $dark-theme-color;

