@import "_variables";
@import "_mixins";
@import "global/_normalize";
@import "global/_scaffolding";
@import "blocks/_background-wrap";
@import "blocks/_overlay";
@import "blocks/_container";
@import "blocks/_modal";
@import "blocks/_btn";
@import "blocks/_close-button";
@import "blocks/_title";
@import "blocks/_logo";
@import "blocks/_hamburger";
@import "blocks/_main-header";
@import "blocks/_main-nav";
@import "blocks/_social-nav";
@import "blocks/_social-share";
@import "blocks/_site-main";
@import "blocks/_main-offer";
@import "blocks/page-block";
@import "blocks/_about";
@import "blocks/_services";
@import "blocks/_faq";
@import "blocks/_booking";
@import "blocks/_contacts";
@import "blocks/_main-footer";
@import "blocks/handlers";
@import "blocks/advertisement";
@import "blocks/tattoo-style";
@import "blocks/gallery";
@import "blocks/_portfolio-slider";
@import "blocks/_modal-wrap";
@import "blocks/_booking-modal";
@import "blocks/_admin";
@import "blocks/_pagination";
@import "blocks/_preloader";
@import "blocks/_client-profile";
@import "blocks/_login";
@import "blocks/_form";
@import "blocks/_success";
