.booking-modal {

  .booking__form {
    position: relative;
  }

  .booking-modal__close-btn {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 30px;
    height: 30px;

    &::before,
    &::after {
      bottom: 14px;
      left: -3px;
    }
  }
}