.logo {
  display: flex;
  align-items: center;

  .logo__link {
    display: block;
    width: 40px;
    height: 100%;
    background-image: url("../img/logo.png");
    background-size: cover;
  }
}

@media (min-width: 990px) {

  .logo {

    .logo__link {
      width: 88px;
    }
  }
}
