.pagination {

  .pagination__list {
    display: flex;
  }

  .pagination__item {
    padding: 6px;
    cursor: pointer;
  }

  .pagination__item.currentPage {
    position: relative;
    font-weight: 700;

    &::after {
      @include element-style(100%, 1px, $light-text);
      left: 0;
      right: 0;
      bottom: -2px;
    }
  }
}
