.services.container {
  background-image: none;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 4%;
  row-gap: 60px;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
}

.services__item {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  display: flex;
  justify-content: center;
}

.services__link {
  @include link-style;
  width: 100%;
}

.services__article {
  width: 100%;

  h4 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
  }
}

.services__article-img-wrap {
  margin-bottom: 42px;
  max-width: 100%;
  height: 300px;
  background-image: url("../img/service.png");
  background-size: cover;

  img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}

.services__item-list {
  @include list-style;
}

@media(min-width: 990px) {

  .services__list {
    @include list-style;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 4%;
    row-gap: 60px;
    margin: 0 auto;
    max-width: 1102px;
  }

  .services__item {
    width: 430px;
    min-width: 430px;
  }

  .services__link {
    @include link-style;
  }

  .services__article {

    h4 {
      margin-top: 0;
      margin-bottom: 20px;
      font-size: 24px;
    }
  }

    .services__article-img-wrap {
      margin-bottom: 42px;

      img {
        width: 430px;
      }
    }

    .services__item-list {
      @include list-style;
    }
}
